* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100dvh;
}

.charsBox {
  max-width: 500px;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-gap: 10px;
  margin: auto;
}
.currentChar {
  text-decoration: underline;
  font-size: 1.5em;
}
.prevChars,
.nextChars {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.char {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: rgba(0, 0, 0, .8);
}
.charFail {
  background: rgb(252, 173, 173);
}
.charDone {
  background: rgb(202, 252, 173);
}